@page "/"
@attribute [Authorize]
@implements IDisposable
@inject SecurityProvider securityProvider;

<div style="text-align:right; margin: 10px">
    <a class="ml-md-auto btn btn-primary" href="/logout">Log Out</a>
</div>

<CascadingValue Value="objectSpace">
    <DxDataGrid Data="employees" KeyFieldName="@nameof(Employee.ID)" PageSize="20" ShowFilterRow="true" AllowSort="true" @ref="grid">
        <ChildContent>
            <DxDataGridColumn Field="@nameof(Employee.FirstName)">
                <DisplayTemplate>
                    <SecuredContainer Context="readOnly" CurrentObject="@context" PropertyName="@nameof(Employee.FirstName)">
                        @(((Employee)context).FirstName)
                    </SecuredContainer>
                </DisplayTemplate>
            </DxDataGridColumn>
            <DxDataGridColumn Field="@nameof(Employee.LastName)">
                <DisplayTemplate>
                    <SecuredContainer Context="readOnly" CurrentObject="@context" PropertyName="@nameof(Employee.LastName)">
                        @(((Employee)context).LastName)
                    </SecuredContainer>
                </DisplayTemplate>
            </DxDataGridColumn>
            <DxDataGridColumn Field="@nameof(Employee.Email)">
                <DisplayTemplate>
                    <SecuredContainer Context="readOnly" CurrentObject="@context" PropertyName="@nameof(Employee.Email)">
                        @(((Employee)context).Email)
                    </SecuredContainer>
                </DisplayTemplate>
            </DxDataGridColumn>
            <DxDataGridComboBoxColumn Field="@nameof(Employee.Department)" Data="@departments">
                <DisplayTemplate>
                    <SecuredContainer Context="readOnly" CurrentObject="@context" PropertyName="@nameof(Employee.Department)">
                        @(((Employee)context).Department.Title)
                    </SecuredContainer>
                </DisplayTemplate>
            </DxDataGridComboBoxColumn>
            <DxDataGridCommandColumn Width="100px">
                <HeaderCellTemplate>
                    @if(securityProvider.Security.CanCreate<Employee>()) {
                        <button class="btn btn-link" @onclick="@(() => StartRowEdit(null))">New</button>
                    }
                </HeaderCellTemplate>
                <CellTemplate>
                    @if(securityProvider.Security.CanWrite(context)) {
                        <a @onclick="@(() => StartRowEdit(context))" href="javascript:;">Edit </a>
                    }
                    @if(securityProvider.Security.CanDelete(context)) {
                        <a @onclick="@(() => OnRowRemoving(context))" href="javascript:;">Delete</a>
                    }
                </CellTemplate>
            </DxDataGridCommandColumn>
        </ChildContent>
        <EditFormTemplate Context="employeeContext">
            @{
                <EditForm Model=employee Context="EditFormContext" OnValidSubmit="@HandleValidSubmit">
                    <DxFormLayout>
                        <DxFormLayoutItem Caption="First Name">
                            <Template>
                                <SecuredContainer Context="readOnly" CurrentObject=@employee PropertyName=@nameof(Employee.FirstName) IsEditor=true>
                                    <DxTextBox @bind-Text=employee.FirstName ReadOnly=@readOnly />
                                </SecuredContainer>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Last Name">
                            <Template>
                                <SecuredContainer Context="readOnly" CurrentObject=@employee PropertyName=@nameof(Employee.LastName) IsEditor=true>
                                    <DxTextBox @bind-Text=employee.LastName ReadOnly=@readOnly />
                                </SecuredContainer>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Email">
                            <Template>
                                <SecuredContainer Context="readOnly" CurrentObject=@employee PropertyName=@nameof(Employee.Email) IsEditor=true>
                                    <DxTextBox @bind-Text=employee.Email ReadOnly=@readOnly />
                                </SecuredContainer>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Department">
                            <Template>
                                <SecuredContainer Context="readOnly" CurrentObject=@employee PropertyName=@nameof(Employee.Department) IsEditor=true>
                                    <DxComboBox Data="@departments" ReadOnly=@readOnly @bind-Value=employee.Department />
                                </SecuredContainer>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem>
                            <Template>
                                <div class="dxbs-fl-ctrl dxbs-fl-ctrl-nc text-right">
                                    @{
                                        string buttonCaption = objectSpace.IsNewObject(employee) ? "Create" : "Update";
                                        <button class="btn btn-link" type="submit">@buttonCaption</button>
                                    }
                                    <button class="btn btn-link" type="button" @onclick=CancelRowEdit>Cancel</button>
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </EditForm>
            }
        </EditFormTemplate>
    </DxDataGrid>
</CascadingValue>

@code {
    IQueryable<Employee> employees;
    IQueryable<Department> departments;
    IObjectSpace objectSpace;
    Employee employee = null;
    DxDataGrid<Employee> grid;

    protected override void OnInitialized() {
        objectSpace = securityProvider.ObjectSpaceProvider.CreateObjectSpace();
        employees = objectSpace.GetObjectsQuery<Employee>();
        departments = objectSpace.GetObjectsQuery<Department>();
    }
    Task OnRowRemoving(object item) {
        objectSpace.Delete(item);
        objectSpace.CommitChanges();
        return grid.Refresh();
    }
    async Task HandleValidSubmit() {
        objectSpace.CommitChanges();
        await grid.Refresh();
        employee = null;
        await grid.CancelRowEdit();
    }
    public void Dispose() {
        securityProvider?.Dispose();
        objectSpace?.Dispose();
    }
    Task StartRowEdit(object item) {
        employee = item as Employee ?? objectSpace.CreateObject<Employee>();
        return grid.StartRowEdit(item);
    }
    Task CancelRowEdit() {
        employee = null;
        return grid.CancelRowEdit();
    }
}